.main-programs__form-group {
  padding-top: 0;
}
.main-programs___title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  text-align-last: left;
  margin-top: 28px;
  margin-bottom: 0;
  padding: 0 20px;
}
.main-programs___description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  width: 255px;
  margin-top: 37px;
  padding-left: 20px;
}
