.main-catalog {
    border-top:1px solid $gray;
}
.main-catalog__title {    
font-family: Oswald;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 36px;
color: $black;
text-align: left;
margin-top: 27px;
margin-bottom: 41px;
padding: 0 20px;
}
.catalog__lsit {
    list-style: none;
    padding: 0;
}